<center>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
        <tbody>
        <% @otherUserComments.each_with_index do |comment,i| %> <%#TOCA POSARHO AQUI%>
        <% if !Set[comment].subset?(@commentsAlreadyPainted) %>
          <% @commentsAlreadyPainted.add(comment) %>
        <tr class="athing" >
            <td>
              <table border="0">
                  <tbody>
                      <tr>
                          <td class="ind"></td>
                                                    <td valign="top" class="votelinks">
                                                      <% if !current_user.nil? %>
                                                        <% if comment.user_id!=current_user.id %>
                                                          <% trobat=0 %>
                                                          <% @userlikedCom.each do |userliked| %>
                                                            <% if comment.id == userliked.comment_id %>
                                                              <% trobat = 1 %>
                                                            <% end %>
                                                          <% end %>
                                                          <% if trobat==0 %>
                                                            <%= link_to '▲','/news/votecomment/'+comment.id.to_s, method: :post %>
                                                          <% else %>
                                                            <%= link_to '▼','/news/unvotecomment/'+comment.id.to_s, method: :delete %>
                                                          <% end %>
                                                        <% else %>
                                                           <a href="" style="color:orange;" > * </a>
                                                        <% end %>
                                                      <% else %>
                                                        <%= link_to '▲','/auth/google_oauth2', method: :get%>
                                                      <% end %>
                                                    </td>
                          <td class="default">
                            <div style="margin-top:2px, margin-bottom:-10px;">
                              <span class="comhead">
                                <% author = User.find(comment.user_id) %>
                                <%= link_to author.username, '/profile' %>
                                
                                <%  quant=(Time.now-comment.created_at).round %>
                                <% if quant < 60 %>
                                    <span class="age"> <%= quant %> seconds ago </span>
                                 <% elsif quant < 3600 then  quant=(quant/60).round %>
                                    <span class="age"> <%= quant %> minutes ago </span>
                                 <% elsif quant < 86400 then  quant=(quant/3600).round%>
                                    <span class="age"> <%= quant %> hours ago </span>
                                 <% else quant=(quant/86400).round %>
                                    <span class="age"> <%= quant %> days ago </span>
                                 <% end %>
                              </span>
                              <span class="comhead">
                                on
                                <% threadId = getThreadId(comment) %>
                                <%= link_to getThreadTitle(comment), :controller => :news, :action => :item, :id => threadId %>
                              </span>
                            </div>
                              
                            <div class="comment">
                              <span class="comtext c00">
                                <%= comment.text %>
                                <div class="reply">
                                  <p>
                                    <font size="1">
                                      <u>
                                        <%= link_to "reply", reply_path(@reply, :id => comment.id, :error => 0) %>  
                                      </u>
                                    </font>
                                  </p>
                                </div>
                              </span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
              </table>
            </td>
        </tr>
        
        <tr>
        </tr> 
        <%= render partial: "/threads/replies_no_repetitions", locals: {idParentComment2: comment.id, depth: 1} %>
        <tr class="spacer" style="height:5px"></tr>
        <% end %>
        <% end %>
        </tbody>

      </table>

    </td>

  </tr>
</center>