<center>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
        <table border="0">
        <tbody>
          <tr><td valign="top">user: </td><td><%= @name %></td></tr>
            <tr><td valign="top">created:</td><td><%= @created %></td></tr>
            <tr><td valign="top">karma:</td><td><%= @karma %></td></tr>
            <tr><td valign="top">about:</td><td><%= @about %></td></tr>
            <tr><td></td><td><a href=""><u>submissions</u></a></td></tr><tr><td></td>
            <td>
              <a href= '/threads?userid='+@id.to_s><u>comments</u></a>
              <u> <%= link_to "comments", '/threads?userid='+@id.to_s %> </u>
            </td></tr>
        </tbody>
        </table>
        <br><br>
      </table>
    </td>
  </tr>
</center>